<!DOCTYPE html>
{% load static %}

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MyAppトップページ</title>
    <link rel="stylesheet" href="{% static "stylesheets/mainstyle.css" %}">
</head>
<body>

<h1>今日の淫夢語録</h1>
<div class="paisen">
    <div class="fukidashi">
        <span>{{ inmugoroku }}</span>
    </div>
    <img src="{% static "images/yajusenpai.jpg" %}" alt="野獣先輩" width="320px" class="yajusenpai">
</div>

<h3>保存されている淫夢語録</h3>
{% for goroku in inmuList %}
    <ul>
        <li>{{ goroku }}</li>
    </ul>
{% endfor %}

<h3>語録送信フォーム</h3>
<form action="{% url "index" %}" method="post">
    {% csrf_token %}
    {{ gorokuForm }}

    <input type="submit" value="送信">
</form>
<p>送信されました：{{ insertedVar }}</p>
</body>
</html>